@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html{
background: #F3F3F3;
width:100%;
height:100%;
}

body {
    font-family: 'roboto_condensedregular';
	font-size: 100%;
}

.header_bg{
	background: #76C7C0;
}
.header_bg2{
	background: #282df0;
}

.header{
	padding: 2% 0;
}
.logo{
	margin-top: 10px;
	float: left;
}
/* start h_menu */
.h_menu{
	float: right;
}
nav{
	display:block;
}
.menu{
	display:block;
}
.menu li{
	display:inline-block;
	position:relative;
	z-index:100;
}
.menu li:first-child{margin-left:0;}
.menu li.activate a,.menu li a:hover{
	background: #62A29E;
	box-shadow: inset 0px -4px 0px #47817E;
	-webkit-box-shadow: inset 0px -4px 0px #47817E;
	-moz-box-shadow: inset 0px -4px 0px #47817E;
	-o-box-shadow: inset 0px -4px 0px #47817E;
	border-radius: 4px;
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px;	
	-o-border-radius: 4px;	
}
.menu li a{
	text-decoration: none;
	font-size: 15px;
	padding: 10px 18px;
	display: block;
	color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.menu li a:hover,.menu li:hover>a{
	color:#ffffff;
	background: #62A29E;
}
.menu ul{
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 42px;
	left: 0px;
	background: #ffffff;
}
.menu ul li{display:block;float:none;background:none;margin:0;padding:0;}
.menu ul li a{
	font-size: 13px;
	font-weight: normal;
	display: block;
	color: #ffffff;
	border-left: 3px solid #C03C35;
	background: #E2534B;
	padding: 10px 20px;
}
.menu ul li a:hover,.menu ul li:hover>a{
	background: #76C7C0;
	border-left: 3px solid #62A29E;
	color: #ffffff;
	border-style: solid;
    border-color: #E2534B;
	box-shadow: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;	
	-moz-border-radius: 8px;	
	-o-border-radius: 8px;	
}
.menu li:hover>ul{display:block;}
.menu ul ul{
	left: 132px;
	top: 0px;
}
.mobile-menu{
	display: none;
	width: 100%;
	padding: 12px;
	background: #528B86;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}
.mobile-menu:hover{background:#447F7A;color:#ffffff;text-decoration:none;}
@media (min-width: 768px) and (max-width: 979px) {.mainWrap{width:768px;}.menu ul{top:37px;}
.menu li a{font-size:12px;padding:8px;}}
@media (max-width: 767px) {
	.mainWrap{width:auto;padding:50px 20px;}.menu{display:none;}.mobile-menu{display:block;margin-top:20px;}
nav{margin:0;background:none;}.menu li{display:block;margin:0;}.menu li a{background:#ffffff;color:#797979;border-top:1px solid #e0e0e0;
}
.menu li a:hover,.menu li:hover>a{background:#f0f0f0;color:#797979;
}
.menu ul{display:none;position:relative;top:0;left:0;width:100%;}
.menu ul ul{left:0;}
}
@media (max-width: 480px) {}@media (max-width: 320px) {}
/* start slider */

/* start mian */
.main_bg{
	background: #F3F3F3;
}
.main_grid{
	padding: 4% 0;
}
.top_grid{
	background: #ececec;
	padding: 4%;
}
.span1_of_1 {
	padding: 0;
}
.span1_of_1 h3{
	text-transform: capitalize;
	margin:0;
	font-size: 28px;
	color: #8C9899;
}
.span1_of_1 p{
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}
.span1_of_2{
	position: relative;
}
/* General button style (reset) */
.btn {
	font-size:14px;
	color:#ffffff;
	border: none;
	background: none;
	width: 195px;
	cursor: pointer;
	padding: 14px 48px;
	display: inline-block;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#button {
	font-size:14px;
	background: #76C7C0;
	width: 80px;
	color: #fff;
}
#button:hover {

	background-color: #282df0;
	
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 2 */
.btn-2 {
	background: none;
	color: #fff;
	box-shadow: 0 6px #E2534B;
	-webkit-box-shadow: 0 6px #E2534B;
	-moz-box-shadow: 0 6px #E2534B;
	-o-box-shadow: 0 6px #E2534B;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.btn-2.active {
	background: #E2534B;
	color: #fff;
	box-shadow: 0 6px #E2534B;
	-webkit-box-shadow: 0 6px #E2534B;
	-moz-box-shadow: 0 6px #E2534B;
	-o-box-shadow: 0 6px #E2534B;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border: none;
}
/* span_of_4 */
.span_of_4 {
	text-align: center;
	margin: 4% 0;
	position: relative;
}
.span1_of_4{
	padding: 0;
	margin-left: 20px;
	width: 23.577777%;
}
.span1_of_4:first-child{
	margin-left: 0;
}
.span4_of_list{
	cursor:pointer;
	background: #ffffff;
	padding: 20px 20px 50px;
	border-radius: 4px;
	-webkit-border-radius: 4px;	
	-moz-border-radius: 4px;	
	-o-border-radius: 4px;	
	box-shadow: inset 0px -1px 1px rgb(216, 216, 216);
	-webkit-box-shadow: inset 0px -1px 1px rgb(216, 216, 216);
	-moz-box-shadow: inset 0px -1px 1px rgb(216, 216, 216);
	-o-box-shadow: inset 0px -1px 1px rgb(216, 216, 216);
}
.span4_of_list:hover.span4_of_list span i{
	color: #E8645A;	
	background: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.span4_of_list .btn{
	box-shadow: 0 4px #47817E;
	-webkit-box-shadow: 0 4px #47817E;
	-moz-box-shadow: 0 4px #47817E;
	-o-box-shadow: 0 4px #47817E;
}
.span4_of_list:hover .btn{
	color:#ffffff;
	background: #E8645A;
	box-shadow: 0 4px #ab3c3c;
	-webkit-box-shadow: 0 4px #ab3c3c;
	-moz-box-shadow: 0 4px #ab3c3c;
	-o-box-shadow: 0 4px #ab3c3c;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.span4_of_list span.active i{
	color: #E8645A;	
}
.span4_of_list span i{
	font-size:5em;
	color: #76C7C0;
	background: none;
	box-shadow:none;
	margin-top: 15px;
}
.span4_of_list h3{
	text-transform: uppercase;
	font-size: 20px;
	color: #8C9899;
	margin: 10px 0 10px;
}
.span4_of_list p{
	font-size: 13px;
	color: #888888;
	line-height: 1.5em;
}
.read_more{
	position: absolute;
	left: 14%;
	bottom: -16px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
}
/* start mian */
.main1_bg{
	background: #ececec;
}
.slider_text{
	padding:20px 0 0;
	text-align: center;
}
.slider_text h4{
	text-transform: uppercase;
	font-size: 34px;
	color: #E8645A;
}
.slider_text p {
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
}
.banner{
	margin-top: -80px;
}
.allinone_carousel.charming .bottomNav {
	display: none !important;
}
/* start main_btm */
.main_btm{
	background: #f3f3f3;
	margin-top: -14%;
	padding-top: 10%;
}
.span_of_3{
	margin: 4% 0;
}
.span1_of_3{
	padding: 0;
	position: relative;
}
.span1_of_3 h4{
	font-size: 24px;
	color: #7F8C8C;
	margin-bottom: 20px;	
}
.span1_of_3 h5{
	font-size: 16px;
	color: #7F8C8C;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.span1_of_3 h5 span{
	color: #E2534B;
}
.nav_list li a:before{
	content: url('../images/arrow.png');
	vertical-align: baseline;
	margin-right: 10px;
}
.nav_list li a{
	display:block;
	font-size: 14px;
	color: #888888;
	line-height: 1.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav_list li a:hover{
	text-decoration:none;
	color: #E2534B;
}

/*-- start footer --*/
.footer1_bg{
	background: #76c7c0;
}
.footer2_bg{
	background: #282df0;
}

.footer1{
	padding: 2% 0;
}
.copy p{
	color: #ffffff;
	font-size: 14px;
	line-height: 1.8em;
}
.copy p a{
	color:#E2534B; 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.copy p a:hover{
	color: #ffffff;
	text-decoration: none;
}
/* start soc_icons */
.soc_icons ul{
	margin-bottom: 0;
}
.soc_icons ul li{
	text-align:center;
	display:inline-block;
	margin-left: 20px;
}
.soc_icons ul li a i{
	color:#ffffff;
	font-size: 24px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.soc_icons ul li a:hover{
	text-decoration:none;
}
.soc_icons ul li a:hover i{
	color: #E8645A;
}

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* start ads_nav */
.ads_nav li{
	float: left;
	width: 48.3333%;
	margin-left: 3.33333%;
	margin-bottom: 10px;
}
.ads_nav li:first-child,.ads_nav li:nth-child(3){
	margin-left: 0;
}
.ads_nav li a{
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ads_nav li a img{
	width: 100%;
}
.ads_nav li a:hover{
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}


.btn{
	font-family: 'roboto_condensedregular';
	font-size: 14px;
	color: #FFFFFF !important;
	padding: 12px 30px;
	background: #62A29E;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	box-shadow: inset 0px -4px 0px #47817E;
	-webkit-box-shadow: inset 0px -4px 0px #47817E;
	-moz-box-shadow: inset 0px -4px 0px #47817E;
	-o-box-shadow: inset 0px -4px 0px #47817E;
}
.btn:hover{
	background: #47817E;
}
/***** Media Quries *****/
@media only screen and (max-width: 1440px) and (min-width: 240px)  {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1280px) {
}


@media only screen and (max-width: 1024px) {
	.menu li a {
		padding: 10px 18px;
	}
	.span1_of_4 {
		width: 22.77777%;
	}
	.line {
		width: 70%;
		left: 20%;
	}
}
@media only screen and (max-width: 768px) {
	.logo{
		float: none;
		text-align:center;
	}
	.h_menu{
		float:none;
	}
	.menu li.activate a, .menu li a:hover {
		background: #ffffff;
		box-shadow: none;
		border-radius: 0px;
		-webkit-border-radius: 0px;	
		-moz-border-radius: 0px;	
		-o-border-radius: 0px;	
	}
	.menu li a:hover{
		color:#ffffff;
		background:#E2534B;
	}
	.menu li a {
		font-size: 14px;
	}
	.span1_of_2 {
		padding-left: 0px;
	}
	.span1_of_1 h3 {
		font-size: 24px;
	}
	.span1_of_4 {
		padding: 0;
		margin-left: 0px;
		width: 100%;
		margin-bottom: 40px;
	}
	.read_more {
		left: 42%;
	}
	.line {
		width: 60%;
		left: 25%;
	}
	.owl-prev {
		right: 5%;
	}
	.footer1_of_3 h4 {
		margin: 10px 0px 10px;
	}
	.footer_of_3 {
		padding-left: 0px;
	}
	.f_text{
		padding-left: 0px;
	}
	.slider_text h4 {
		font-size: 28px;
	}
	.footer1_of_3 p {
		margin-bottom: 2px;
	}
	.read_btn{
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 640px){
	.slider_text h4 {
		font-size: 24px;
	}
	.span4_of_list {
		padding: 20px 20px 45px;
	}
	.about h3 {
		font-size: 16px;
	}
}
@media only screen and (max-width: 480px) {
	.read_more {
		left: 36%;
	}
	.line {
		width: 38%;
		left: 40%;
	}
	.btn {
		padding: 10px 28px;
	}
}
@media only screen and (max-width: 320px) {
	h3.style {
		font-size: 20px;
		margin: 10px 0 0;
	}
	.footer1{
		text-align:center;
	}
	.copy{
		float: none !important;
	}
	.soc_icons{
		float: none !important;
	}
	.circle_list li {
		margin-left: 0px;
		width: 100%;
	}
	.span1_of_1 h3 {
		font-size: 22px;
	}
	.read_more {
		left: 24%;
	}
	.line {
		display: none;
	}

	.f_logo {
		margin:15px 0 10px;
	}
	.cau_hide{
		display: none !important;
	}
	
	.btn {
	font-size:14px;
	color:#ffffff;
	border: none;
	width: 130px;
	cursor: pointer;
	padding: 12px 25px;
	display: inline-block;
	text-transform: uppercase;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
}